---
import { getSession } from "auth-astro/server";
import App from "../components/MarketPlace.svelte";
import Header from "@/components/Header.svelte";
import { ViewTransitions, fade } from "astro:transitions";
const { host } = new URL(Astro.request.url);
const { session, title } = Astro.props;

const desc = "A card collecting game, with memes as cards collectables we have over 6k memes to play with"
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en" data-theme={session?.user?.theme || "dark"}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/Logo.svg" />
    <link rel="icon" type="image/png" href="/Logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>DankDeck | {title}</title>

    {
      !host.includes("localhost") && (
        <script
          data-goatcounter="https://stats.dankdeck.xyz/count"
          async
          src="//stats.dankdeck.xyz/count.js"
        />
      )
    }
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="DankDeck" />
    <link rel="canonical" href={canonicalURL} />
    <slot name="head">
      <meta property="og:description" content={desc} />
      <meta property="og:title" content={`DankDeck | ${title}`} />
      <meta name="twitter:description" content={desc} />
      <meta name="twitter:title" content={`DankDeck | ${title}`} />
      <meta
        name="description"
        content={desc}
      />
      <meta
        name="keywords"
        content="trading cards, auctions, collectibles"
      />
      <meta name="og:image" content="/Logo.png" />
      <meta name="twitter:image" content="/Logo.png" />
    </slot>
    <style is:global>
      :root {
        --btn-focus-scale: 0.9;
      }

      .btn {
        animation: none;
      }

      .btn:active {
        transition: transform 0.1s !important;
      }

    </style>
  </head>
  <body
    class="w-screen min-h-screen flex flex-col"
    transition:animate={fade({ duration: "0.1s" })}
  >
    <Header client:idle session={session} />
    <slot />
  </body>
</html>
